In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
def make_prompts(concepts='a person, a car, park, beach',num_prompts_per_concept=5,name=None):
    name_ = concepts.replace('a ','').replace(' ','_').replace(',','')
    if name is not None:
        name_ = name
    name_ = f'prompts/prompts-{name_}.csv'
    concepts = concepts.split(',')
    concepts = [c.strip() for c in concepts]
    
    prompts_ = []
    concepts_ = []
    
    for concept in concepts:
        prompts_.extend([f'image of {concept}']*num_prompts_per_concept)
        prompts_.extend([f'picture of {concept}']*num_prompts_per_concept)
        prompts_.extend([f'photo of {concept}']*num_prompts_per_concept)
        prompts_.extend([f'portrait of {concept}']*num_prompts_per_concept)
        prompts_.extend([f'{concept}']*num_prompts_per_concept)

        concepts_.extend([concept]*5*num_prompts_per_concept)
    seeds_  = np.random.randint(0,2**16,(len(prompts_),))
    
    case_numbers = np.arange(len(prompts_))
    
    df = pd.DataFrame({'case_number': case_numbers, 'prompt':prompts_, 'evaluation_seed':seeds_,'concept':concepts_})
    
    df.to_csv(name_,index=False)
    return df

In [4]:
make_prompts(concepts='a person, man, woman, doctor, barista',num_prompts_per_concept=20,name='person')

     case_number             prompt  evaluation_seed   concept
0              0  image of a person            58583  a person
1              1  image of a person            54737  a person
2              2  image of a person            29571  a person
3              3  image of a person            17778  a person
4              4  image of a person            38449  a person
..           ...                ...              ...       ...
495          495            barista             4375   barista
496          496            barista            61930   barista
497          497            barista            28116   barista
498          498            barista            36628   barista
499          499            barista            10636   barista

[500 rows x 4 columns]

In [6]:
make_prompts(concepts='food, a steak, a pizza, salad, fruit bowl',num_prompts_per_concept=20,name='food')

     case_number         prompt  evaluation_seed     concept
0              0  image of food            30524        food
1              1  image of food            50507        food
2              2  image of food            55038        food
3              3  image of food            52234        food
4              4  image of food            46717        food
..           ...            ...              ...         ...
495          495     fruit bowl            22104  fruit bowl
496          496     fruit bowl            49242  fruit bowl
497          497     fruit bowl             9814  fruit bowl
498          498     fruit bowl            48407  fruit bowl
499          499     fruit bowl            49917  fruit bowl

[500 rows x 4 columns]

In [10]:
make_prompts(concepts='sky, a park, a beach, an island, a lake',num_prompts_per_concept=20,name='sky')

     case_number        prompt  evaluation_seed concept
0              0  image of sky            31134     sky
1              1  image of sky            49284     sky
2              2  image of sky            14116     sky
3              3  image of sky            40333     sky
4              4  image of sky             2144     sky
..           ...           ...              ...     ...
495          495        a lake            55710  a lake
496          496        a lake            61752  a lake
497          497        a lake            19898  a lake
498          498        a lake            54145  a lake
499          499        a lake            53377  a lake

[500 rows x 4 columns]

In [9]:
make_prompts(concepts='a room, a bedroom, a living room, a kid bedroom, a study room',num_prompts_per_concept=20,name='room')

     case_number           prompt  evaluation_seed       concept
0              0  image of a room            14647        a room
1              1  image of a room            37797        a room
2              2  image of a room            45595        a room
3              3  image of a room             4158        a room
4              4  image of a room             7062        a room
..           ...              ...              ...           ...
495          495     a study room            18005  a study room
496          496     a study room            43233  a study room
497          497     a study room            23810  a study room
498          498     a study room            27632  a study room
499          499     a study room            27890  a study room

[500 rows x 4 columns]

In [11]:
30000//4

7500

In [21]:
prompts = '''python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/age_noxattn_gender_race_alpha4.0_rank4_noxattn/age_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:0' &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:1' &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:2' &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/rustycar_noxattn_alpha4.0_rank4_noxattn/rustycar_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:3' &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/cooked_noxattn_alpha4.0_rank4_noxattn/cooked_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:4' --num_samples 1  &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/expensivefood_noxattn_alpha4.0_rank4_noxattn/expensivefood_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:5' --num_samples 1 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/dirtyroom_noxattn_alpha4.0_rank4_noxattn/dirtyroom_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:6' --num_samples 1 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/weather_noxattn_alpha4.0_rank4_noxattn/weather_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:7' &'''

In [22]:
prompts = prompts.split('\n')

In [24]:
for case in range(4):
    for prompt in prompts:
        print(prompt[:-2]+f' --from_case {case*7500} --till_case {(case+1)*7500} &')
#     print(case*7500, (case+1)*7500)

python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/age_noxattn_gender_race_alpha4.0_rank4_noxattn/age_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:0' --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:1' --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:2' --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/rustycar_noxattn_alpha4.0_rank4_noxattn/rustycar_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:3' --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/cooked_noxattn_alpha4.0_rank4_noxattn/cooked_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:4' --num_samples 1  --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/expensivefood_noxattn_alpha4.0_rank4_noxattn/expensivefood_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:5' --num_samples 1 --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/dirtyroom_noxattn_alpha4.0_rank4_noxattn/dirtyroom_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:6' --num_samples 1 --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/weather_noxattn_alpha4.0_rank4_noxattn/weather_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:7' --from_case 0 --till_case 7500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/age_noxattn_gender_race_alpha4.0_rank4_noxattn/age_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:0' --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:1' --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:2' --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/rustycar_noxattn_alpha4.0_rank4_noxattn/rustycar_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:3' --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/cooked_noxattn_alpha4.0_rank4_noxattn/cooked_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:4' --num_samples 1  --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/expensivefood_noxattn_alpha4.0_rank4_noxattn/expensivefood_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:5' --num_samples 1 --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/dirtyroom_noxattn_alpha4.0_rank4_noxattn/dirtyroom_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:6' --num_samples 1 --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/weather_noxattn_alpha4.0_rank4_noxattn/weather_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:7' --from_case 7500 --till_case 15000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/age_noxattn_gender_race_alpha4.0_rank4_noxattn/age_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:0' --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:1' --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:2' --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/rustycar_noxattn_alpha4.0_rank4_noxattn/rustycar_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:3' --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/cooked_noxattn_alpha4.0_rank4_noxattn/cooked_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:4' --num_samples 1  --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/expensivefood_noxattn_alpha4.0_rank4_noxattn/expensivefood_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:5' --num_samples 1 --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/dirtyroom_noxattn_alpha4.0_rank4_noxattn/dirtyroom_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:6' --num_samples 1 --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/weather_noxattn_alpha4.0_rank4_noxattn/weather_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:7' --from_case 15000 --till_case 22500 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/age_noxattn_gender_race_alpha4.0_rank4_noxattn/age_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:0' --from_case 22500 --till_case 30000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn/smiling_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:1' --from_case 22500 --till_case 30000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn/glasses_noxattn_gender_race_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:2' --from_case 22500 --till_case 30000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/rustycar_noxattn_alpha4.0_rank4_noxattn/rustycar_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:3' --from_case 22500 --till_case 30000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/cooked_noxattn_alpha4.0_rank4_noxattn/cooked_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:4' --num_samples 1  --from_case 22500 --till_case 30000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/expensivefood_noxattn_alpha4.0_rank4_noxattn/expensivefood_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:5' --num_samples 1 --from_case 22500 --till_case 30000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/dirtyroom_noxattn_alpha4.0_rank4_noxattn/dirtyroom_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --device 'cuda:6' --num_samples 1 --from_case 22500 --till_case 30000 &
python eval-scripts/generate_images.py --prompts_path '/share/u/rohit/erase-closed/data/coco_30k.csv' --save_path '/share/u/rohit/www/sliders_coco/' --start_noise 650 --model_name 'models/weather_noxattn_alpha4.0_rank4_noxattn/weather_noxattn_alpha4.0_rank4_noxattn_500steps.pt' --num_samples 1 --device 'cuda:7' --from_case 22500 --till_case 30000 &